.friend_requests {
  display: none;
}

.friend_requests_displayed {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: white;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.friend_requests_displayed > h3 {
  padding: 0.25em 0 0 0.25em;
}

.friend_requests_displayed > p {
  padding-left: 0.25em;
}

.friend_request {
  display: flex;
  align-items: center;
  padding: 0.25em;
}

.friend_request > :first-child {
  display: flex;
  gap: 0.25em;
  align-items: center;
  flex-grow: 1;
}

.friend_request:hover {
  background-color: var(--highlight-color);
}

.friend_request_inputs {
  display: flex;
  gap: 0.25em;
}

.friend_request_inputs > button:first-of-type:hover {
  background-color: green;
}

.friend_request_inputs > button:last-of-type:hover {
  background-color: red;
}

.friend_requests_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
