.messages_container {
  display: flex;
  height: 100%;
}

.chat {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat > form > input[type="text"] {
  border: 1px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
  gap: 0.25em;
}

.messages > div > p {
  color: white;
  padding: 0.25em;
}

.user_message,
.friend_message {
  width: 50%;
  background-color: var(--secondary-color);
  border: 1px solid white;
  color: black;
  width: max-content;
  padding: 0 0.25em;
}

.user_message {
  text-align: end;
  align-self: flex-end;
  border-right: 0;
  border-radius: 0.25em 0 0 0.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}

.friend_message {
  border-left: 0;
  border-radius: 0 0.25em 0.25em 0;
}

.message_info > p:last-child {
  font-size: small;
}

.send_message_button {
  border-radius: 0;
  height: 100%;
}

.chat_hidden {
  display: none;
}

.delete_message_button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0;
}

.delete_message_button:hover > svg {
  color: red;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .chat > form > input[type="text"] {
    border-left: 0;
  }
}
